.signup-container {
    padding: 20px;
    max-width: 420px;
    margin: 0 auto;
    background-color: #924de1;
    border-radius: 8px;
    
  }
  
  .signup-form input {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .signup-form button {
    width: 95%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Leave room for the fixed navbar */
    padding-top: 60px;
  }
  